.btnback-component{
position: absolute;
z-index: 100000000;
top: 0;
left: 0;

}
.btn-back{
    background: linear-gradient(-30deg, rgba(0, 1 , 0, 0.4),#ffc107  75%) ;
    min-width: 10rem;
    height: 5rem;
    border: none;
    border-radius: 13rem;
    cursor: pointer;
    
}
.btn-back i{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.btn-back:hover{
    transform: scale(1.1);
}
