
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,300;1,600&family=Roboto:wght@100;300&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
}
body{
    background: #010103;
    overflow-x: hidden;
}

/* ================================ */

section{
    padding: 2rem 7%;
}
.header{
    background: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.2rem solid #ffc107;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.header .logo img{
    max-width: 85px;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.header .navbar a:hover{
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
}
.header .icons div{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: #ffc107;
}
#menu-btn{
    display: none;
    margin-left: 2rem;
}
/* ========================== */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background:#fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 13px;

}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #13131a;
    padding: 1rem;
    text-transform: none;
    border-radius: 13px;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #13131a;
}
.header .search-form label:hover{
    color: #ffc107;
}


/* ===================== */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(0 0 0 / 93%), rgb(68 68 68 / 35%)),
    url(../Images/images.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content {
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home span{
    color: #ffc107;
    text-transform: uppercase;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
 .content .btn{
    background: #ffc107;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    padding: 1rem ;
}
 .content .btn:hover{
    background: #fff;
    color:#ffc107;
}
/* ===================== */
.about .row{
    display: flex;
    align-items: center;
    background: #13131a;
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.heading{  
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    /* margin: 0 2rem; */
    color: #ffc107;
    text-transform: uppercase;
    
}
/* ========================== */
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: 0.2rem solid #ffc107;
}
.menu .box-container .box img{
    height: 10rem;
    border-radius: 50%;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .box-container .box:hover{
    background: #443300;
    transition: 0.5s;
}
.menu .box-container .box{
    text-align: center;
    border: 0.2rem solid #ffc107;
    padding: 2rem;
}
/* ===================== */
.products .box-container .box{
    text-align: center;
    border: 0.2rem solid #ffc107;
    padding: 2rem;
}
.products .box-container .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: 0.2rem solid #ffc107;
    color: #fff;
    margin: 0.3rem;
}
.products .box-container .icons a:hover{
    background: #ffc107;
}
.products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .image img{
    height: 25rem;
    width: 25rem;
}
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: #ffc107;
}
.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
/* ==================== */
.contact{
    padding: 0 0 8rem 0;
}
.contact .row {
display: flex;
align-items:center;
justify-content: center;
gap: 2.5rem;
}
.contact .row a i{
    color:white;
    font-size: 2.5rem;
}
.contact .row a i:hover{
    color: #ffc107;
}





@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #000;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar a{
        color: #fff;
        display: block;
        margin: 1.5rem;
    }
    
    .header .navbar.active{
        right: 0;
    }
}


